__pycache__
.vscode

# Ignore all .yaml files
*.yaml
!artist.yaml
!basic.yaml
!camera.yaml
!mood.yaml
!original.yaml

# ignore painted image
backend/iToolsPaintedImage_foreground.png
backend/iToolsPaintedImage_background.png