__pycache__
.vscode
.idea
ignore
excluded

# Ignore all .yaml files
# *.yaml
# !artist.yaml
# !basic.yaml
# !camera.yaml
# !mood.yaml
# !original.yaml

# ignore painted image
iToolsPaintedImage_background.png
iToolsPaintedImage_foreground.png
iToolsMaskedImg.png
iToolsTestImg.png